<! DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" type="text/css">

</head>
<body>
<th:block th:include="/menu"></th:block>
<div class="container">

    <h1> Проекты</h1>
    <h3>Форма для вставки новых проектов</h3>
    <!-- форма -->
    <form action="#" th:action="@{/project/add}" th:object="${project}" method="post">
        <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control" th:field="*{nameProject}" placeholder="Обязательное поле">
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Суть инновации</label>
            <textarea class="form-control" id="exampleTextarea" th:field="*{essenceInnovations}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label>Решение проблемы</label>
            <textarea class="form-control" id="exampleTextarea" th:field="*{solutionProblems}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label>Уровень решения</label>
            <input type="text" class="form-control" th:field="*{levelSolution}" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Конкурентные преимушества</label>
            <input class="form-control" type="text" th:field="*{competitiveAdvantages}" rows="5">
        </div>
        <div class="form-group">
            <label>Дата</label>
            <input type="date" class="form-control" th:field="*{startDate}" placeholder="">
        </div>
        <div class="form-group">
            <label>Текущая стадия</label>
            <input type="text" class="form-control" th:field="*{currentStage}" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Экспертиза Проекта</label>
            <textarea class="form-control" type="text" th:field="*{expertiseProject}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label>Описание проекта</label>
            <textarea class="form-control" type="text" th:field="*{projectDescription}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label>Сайт</label>
            <input type="text" class="form-control" th:field="*{siteProject}" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Номер телефона</label>
            <input type="tel" class="form-control" th:field="*{numberPhoneProject}" placeholder=""></div>
        <button type="submit" class="btn btn-primary">Полетели</button>
    </form>

</div>
</body>
<script src="../../static/js/jquery-3.2.1.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script th:src="@{../../static/js/bootstrap-formhelpers-phone.js}"></script>
<!--<script src="../static/css/js/bootstrap-formhelpers-datepicker.js"></script>-->
</html>
