<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<!--выводим отдельную запись -->
<th:block th:include="/menu"></th:block>
<div class="container">

    <h2>
        <td th:utext="${organization.getName_organization()}">..</td>
        <h2>
            <div class="pb-3">
                <a th:href="@{/organization/{id}/edit(id=${organization.id_organization})}" class="btn btn-primary "
                   role="button" aria-pressed="true">Изменить</a>
                <a th:href="@{/organization/{id}/delete(id=${organization.id_organization})}" type="button"
                   class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Удалить</a>
                <a th:href="@{/organization/{id}/connect(id=${organization.id_organization})}" type="button"
                   class="btn btn-secondary" href="#">Добавить мероприятие</a>
                <a th:href="@{/organization/{id}/connect(id=${organization.id_organization})}" type="button"
                   class="btn btn-secondary" href="#">Добавить персонал</a>
                <a th:href="@{/organization/{id}/connect(id=${organization.id_organization})}" type="button"
                   class="btn btn-secondary" href="#">Добавить проект</a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Вы уверены , что хотите удалить запись
                                ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</a>
                            <a type="button" class="btn btn-primary" href="index.html">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border pb-3">
                <div class="col border"><p>Название</p></div>
                <div class="col border">
                    <td th:utext="${organization.getName_organization()}">..</td>
                </div>
                <div class="w-100"></div>
                <div class="col border"><p>Сайт</p></div>
                <div class="col border">
                    <td th:utext="${organization.getSite_organization()}">..</td>
                </div>
                <div class="w-100"></div>
                <div class="col border"><p>Город</p></div>
                <div class="col border">
                    <td th:utext="${organization.getCity_organization()}">..</td>
                </div>
                <div class="w-100"></div>
                <div class="col border "><p>Заметки</p></div>
                <div class="col border">
                    <td th:utext="${organization.getNotes_organization()}">..</td>
                </div>
                <div class="w-100"></div>
            </div>
            <div class="row">
                <div class="col-4   ">


                    <h3><img width="32px" src="../../image/multiple-users-silhouette.svg" alt="команда"> Проекты </h3>
                    <tr th:each="prj : ${organization.getProjects()}">
                        <a class="small" th:href="@{/project/{id}(id=${prj.id_project})}"><img width="16px"
                                                                                               src="../../image/teamwork.svg"
                                                                                               alt="человек">
                            <td th:utext="${prj.name_project}  ">..</td>
                        </a>
                    </tr>
                    <br>
                </div>
                <div class="col-4   ">
                    <h3><img width="32px" src="../../image/teamwork.svg" alt="команда"> Персонал </h3>
                    <tr th:each="pr : ${organization.getPersons()}">
                        <a class="small" th:href="@{/person/{id}(id=${pr.id_person})}"><img width="16px"
                                                                                            src="../../image/businessman.svg"
                                                                                            alt="человек">
                            <td th:utext="${pr.name}  ">..</td>
                        </a>
                    </tr>
                </div>
                <div class="col-4   ">
                    <h3><img width="32px" src="../../image/education.svg" alt="команда"> Мероприятия </h3>
                    <tr th:each="ev : ${organization.getEvents()}">
                        <a class="small" th:href="@{/event/{id}(id=${ev.id_event})}"><img width="16px"
                                                                                          src="../../image/education.svg"
                                                                                          alt="человек">
                            <td th:utext="${ev.name_event}  ">..</td>
                        </a>
                    </tr>
                </div>
            </div>
</body>
<script src="../../static/js/jquery-3.2.1.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<html>

