<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<!--Include _menu.html -->
<th:block th:include="/menu"></th:block>
<h1>Event added</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name event</th>
        <th>Site event</th>
        <th>Date event</th>
        <th>Description</th>
    </tr>
    <!--<td th:sitevent nameevent dateevent descriptior utext="${personName}">..</td>-->

    <tr >
        <td th:utext="${event.id_event}">..</td>
        <td th:utext="${event.name_event}">..</td>
        <td th:utext="${event.site_event}">..</td>
        <td th:utext="${event.date_event}">..</td>
        <td th:utext="${event.description}">..</td>
    </tr>
</table>



</body>
</html>