<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<th:block th:include="/menu"></th:block>
<h1>Cписок людей</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Scope event</th>
        <th>Comment</th>
        <th>location event</th>
        <th>prizes</th>
        <th>id type event</th>
    </tr>


    <tr th:each="event : ${eventList}">
        <td th:utext="${event.id_event}">..</td>
        <td th:utext="${event.description}">..</td>
        <td th:utext="${event.scope_event}">..</td>
        <td th:utext="${event.comment}">..</td>
        <td th:utext="${event.location_event}">..</td>
        <td th:utext="${event.prizes}">..</td>
        <td><a th:href="@{/event/edit/{id}(id=${event.id_event})}">Update</a></td>

    </tr>
</table>



</body>
</html>