<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<!--Include _menu.html -->
<th:block th:include="/menu"></th:block>
<h1>Person added</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last name</th>
        <th>Third name</th>
        <th>phoneNumber</th>
        <th>date of Birth</th>
        <th>comment</th>
    </tr>
    <!--<td th:utext="${personName}">..</td>-->

    <tr >
        <td th:utext="${person.id_person}">..</td>
        <td th:utext="${person.name}">..</td>
        <td th:utext="${person.surname}">..</td>
        <td th:utext="${person.thirdName}">..</td>
        <td th:utext="${person.phone_number_person}">..</td>
        <td th:utext="${person.date_of_birth}">..</td>
        <td th:utext="${person.comment}">..</td>
    </tr>

    <tr th:each="event : ${person.getEvents()}">
    <td th:utext="${event.getname_event()}">..</td>
</tr>
    <tr th:each="org : ${person.getOrganizations()}">
        <td th:utext="${org.getName_organization()}">..</td>
    </tr>
    <tr th:each="project : ${person.getProjects()}">
        <td th:utext="${project.getName_project()}">..</td>

    </tr>
</table>

<!--<form name='f' th:object="${list}" method='POST'>-->
    <!--<table>-->
        <!--<tr>-->
            <!--<td>Select Event:</td>-->
            <!--<td>-->
                <!--<select th:field="*{id_event}">-->
                    <!--<option value=""> &#45;&#45; </option>-->
                    <!--<option th:each="event : ${list}"-->
                            <!--th:value="${event.id_event}"-->
                            <!--th:utext="${event.name_event}"/>-->
                <!--</select>-->

            <!--</td>-->
        <!--</tr>-->

        <!--<tr>-->
            <!--<td><input name="submit" type="submit" value="submit" /></td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</form>-->



<!--<form name='f' th:object="${list}" method='POST'>-->
    <!--<select >-->
        <!--<option value="">Select event</option>-->
        <!--<option th:each="test : ${list}"-->
                <!--th:value="${test.getname_event()}"-->
                <!--th:text="${test.getname_event()}">"${test.getname_event()}"</option>-->
    <!--</select>-->
    <!--<p><input type="submit" value="Добавить cобытие"></p>-->
<!--</form>-->

<!--<form action="#" th:action="@{/person/{id}}" th:object="${person.events}" method="post">-->
<!--<select  >-->
    <!--<option >Select Test Order</option>-->
    <!--<option th:each="test : ${list}"-->
            <!--th:value="${test.getId_event()}"-->
            <!--th:text="${test.getname_event()}"></option>-->
<!--</select>-->
    <!--<p><input type="submit" value="Добавить cобытие"></p>-->
<!--</form>-->

<!--<select name="awardPartner"-->
        <!--th:field="*{person}" class="form-control selectpicker">-->
    <!--<option value="">Select Award Partner</option>-->
    <!--<option th:each="event : ${list}"-->
            <!--th:value="${event.id_event}"-->
            <!--th:text="${event.getname_event()}"></option>-->
    <!--<p><input type="submit" value="Submit" />-->
<!--</select>-->
<form name='f' th:object="${person}" method='POST'>
    <select th:field="*{events}">
        <option value="">Select event</option>
        <option th:each="test : ${list}"
                th:value="${test.getId_event()}"
                th:utext="${test.getname_event()}">"${test.getname_event()}"</option>
    </select>
    <p><input type="submit" value="Добавить cобытие"></p>
</form>

</body>
</html>