<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<!--выводим отдельную запись -->
<th:block th:include="/menu"></th:block>
<div class="container">

    <h2>
        <td th:utext="${person.getSurname()} +' '+ ${person.getName()}+' ' + ${person.getThird_Name()}">..</td>
    </h2>

    <div class="pb-3">
        <a th:href="@{/person/{id}/edit(id=${person.id_person})}" class="btn btn-primary " role="button"
           aria-pressed="true">Изменить</a>
        <a th:href="@{/person/{id}/delete(id=${person.id_person})}" type="button" class="btn btn-danger"
           data-toggle="modal" data-target="#exampleModalCenter">Удалить</a>
        <a th:href="@{/person/{id}/connect(id=${person.id_person})}" type="button" class="btn btn-secondary" href="#">Добавить
            организацию</a>
        <a th:href="@{/person/{id}/connect(id=${person.id_person})}" type="button" class="btn btn-secondary" href="#">Добавить
            мероприятие</a>
        <a th:href="@{/person/{id}/connect(id=${person.id_person})}" type="button" class="btn btn-secondary" href="#">Добавить
            организацию</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Вы уверены , что хотите удалить запись ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</a>
                    <a type="button" class="btn btn-primary" href="person.html">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row border pb-3">

        <div class="col border "><p>Номер телефона</p></div>
        <div class="col border">
            <td th:utext="${person.getPhone_number()}">..</td>
        </div>
        <div class="w-100"></div>
        <div class="col border"><p>Дата рождения</p></div>
        <div class="col border ">
            <td th:utext="${person.getDate_of_birth()}">..</td>
        </div>
        <div class="w-100"></div>
        <div class="col border"><p>Почта</p></div>
        <div class="col border">
            <td th:utext="${person.getE_mail()}">..</td>
        </div>
        <div class="w-100"></div>
        <div class="col border"><p>Facebook</p></div>
        <div class="col border">
            <td th:utext="${person.getFacebook()}">..</td>
        </div>
        <div class="w-100"></div>
        <div class="col border"><p>Vk</p></div>
        <div class="col border">
            <td th:utext="${person.getVk()}">..</td>
        </div>
        <div class="w-100"></div>
        <div class="w-100"></div>
        <div class="col border"><p>twitter</p></div>
        <div class="col border">
            <td th:utext="${person.getTwitter()}">..</td>
        </div>
        <div class="w-100"></div>
        <div class="col border"><p>Комментарий</p></div>
        <div class="col border">
            <td th:utext="${person.getComment()}">..</td>
        </div>
        <div class="w-100"></div>
        <div class="col border"><p>Мероприятия</p></div>
    </div>
    <div class="col-4   ">
        <br>
        <h3><img width="32px" src="../../../image/multiple-users-silhouette.svg" alt="команда"> Проекты </h3>
        <tr th:each="pr : ${person.getProjects()}">
            <a class="small" th:href="@{/project/{id}(id=${pr.id_project})}"><img width="16px"
                                                                                  src="../../image/businessman.svg"
                                                                                  alt="человек">
                <td th:utext="${pr.name_project}  ">..</td>
            </a>
        </tr>
        <br>
        <h3><img width="32px" src="../../image/teamwork.svg" alt="команда"> Организации </h3>
        <tr th:each="org : ${person.getOrganizations()}">
            <a class="small" th:href="@{/organization/{id}(id=${org.id_organization})}"><img width="16px"
                                                                                             src="../../image/teamwork.svg"
                                                                                             alt="человек">
                <td th:utext="${org.name_organization}  ">..</td>
            </a>
        </tr>
        <h3><img width="32px" src="../../image/education.svg" alt="команда"> Мероприятия </h3>
        <tr th:each="ev : ${person.getEvents()}">
            <a class="small" th:href="@{/event/{id}(id=${ev.id_event})}"><img width="16px"
                                                                              src="../../image/education.svg"
                                                                              alt="человек">
                <td th:utext="${ev.name_event}  ">..</td>
            </a>
        </tr>
    </div>

</div>
</div>
</body>
<script src="../../static/js/jquery-3.2.1.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<html>