<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<!--выводим отдельную запись -->
<th:block th:include="/menu"></th:block>
<div class="container">

    <h2><td th:utext="${event.getName_event()}"> ..</td></h2>
<!--    Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Вы уверены , что хотите удалить запись ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</a>
                    <a type="button" class="btn btn-primary" href="person.html">Удалить</a>
                </div>
            </div>
        </div>
    </div>


        <form name='f' th:object="${con}" method='POST'>
            <div class="row  pb-3">
                <div class="col border"><p>Выберите проект</p></div>
                <div class="col border">
                        <select th:field="*{project_Id}">
                            <option th:each="project : ${projects}"
                                    th:value="${project.id_project}"
                                    th:text="${project.id_project}+' : '+${project.name_project}"></option>
                        </select>
                </div>
                <div class="w-100"></div>

                <tr>
                    <td><input name="submit" type="submit" value="submit"/></td>
                </tr>
                    </div>
        </form>

    <form name='a' th:object="${con}" method='POST'>
        <div class="row  pb-3">
            <div class="col border"><p>Выберите персонал</p></div>
            <div class="col border">
                <select th:field="*{person_id}">
                    <option th:each="person : ${persons}"
                            th:value="${person.id_person}"
                            th:text="${person.id_person}+' : '+${person.name}"></option>
                </select>
            </div>
            <div class="w-100"></div>

            <td><input name="submit" type="submit" value="submit"/></td>

        </div>
    </form>



    <form name='a' th:object="${con}" method='POST'>
        <div class="row  pb-3">
    <div class="col border"><p>Выберите организацию</p></div>
    <div class="col border">
        <select th:field="*{organization_Id}">
            <option th:each="org : ${organizations}"
                    th:value="${org.id_organization}"
                    th:text="${org.id_organization}+' : '+${org.name_organization}"></option>
        </select>
    </div>
    <div class="w-100"></div>
        </div>
        <td><input name="submit" type="submit" value="submit"/></td>
    </form>


    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h3>Проекты</h3>
            <tr th:each="project : ${event.getProjects()}">
                <a class="small" th:href="@{/project/{id}(id=${project.id_project})}"> <td th:utext="${project.name_project}  ">..</td> </a>
            </tr>
            </div>


            <div class="col-4">
                <h3>Люди</h3>
                <tr th:each="person : ${event.getPersons()}">
                    <a class="small" th:href="@{/event/{id}(id=${person.id_person})}"> <td th:utext="${person.name}  ">..</td> </a>
            </div>



            <div class="col-4">
                <h3>Организации</h3>
                <tr th:each="organization : ${event.getOrganizations()}">
                    <a class="small" th:href="@{/organization/{id}(id=${organization.id_organization})}"> <td th:utext="${organization.name_organization}  ">..</td> </a>
            </div>
        </div>
     </div>
        </div>


</body>
<script src="../static/js/jquery-3.2.1.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<html>