<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<!--Include _menu.html -->
<th:block th:include="/menu"></th:block>
<h1>Person added</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last name</th>
        <th>Third name</th>
        <th>phoneNumber</th>
        <th>date of Birth</th>
        <th>comment</th>
    </tr>
    <!--<td th:utext="${personName}">..</td>-->

    <tr >
        <td th:utext="${person.id_person}">..</td>
        <td th:utext="${person.name}">..</td>
        <td th:utext="${person.surname}">..</td>
        <td th:utext="${person.thirdName}">..</td>
        <td th:utext="${person.phone_number_person}">..</td>
        <td th:utext="${person.date_of_birth}">..</td>
        <td th:utext="${person.comment}">..</td>
    </tr>
</table>



</body>
</html>