<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<!--выводим отдельную запись -->
<th:block th:include="/menu"></th:block>
<div class="container">

    <h2><td th:utext="${event.getName_event()}">..</td></h2>

    <div class="pb-3">
            <a th:href="@{/event/{id}/edit(id=${event.id_event})}" class="btn btn-primary " role="button" aria-pressed="true">Изменить</a>
            <a th:href="@{/event/{id}/delete(id=${event.id_event})}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Удалить</a>
            <a type="button" class="btn btn-secondary" href="#">Переход на таблицу м-м</a>
            <a type="button" class="btn btn-success" href="#">Переход на таблицу м-м</a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Вы уверены , что хотите удалить запись ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</a>
                        <a type="button" class="btn btn-primary" href="index.html">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row border pb-3">
    <div class="col border"><p>Название</p></div>
    <div class="col border"><td th:utext="${event.name_event}">..</td></div>
    <div class="w-100"></div>
    <div class="col border"><p>Сайт</p></div>
    <div class="col border"><td th:utext="${event.site_event}">..</td></div>
    <div class="w-100"></div>
    <div class="col border"><p>Важность</p></div>
    <div class="col border"><td th:utext="${event.importance_event}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Сфера</p></div>
    <div class="col border"><td th:utext="${event.scope_event}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Описание</p></div>
    <div class="col border"><td th:utext="${event.description}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Тип мероприятия</p></div>
    <div class="col border"><td th:utext="${event.description}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Дата мероприятия</p></div>
    <div class="col border"><td th:utext="${event.date_event}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Комментарий</p></div>
    <div class="col border"><td th:utext="${event.comment}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Призы</p></div>
    <div class="col border"><td th:utext="${event.prizes}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Место проведения</p></div>
    <div class="col border"><td th:utext="${event.location_event}">..</td></div>
    <div class="w-100"></div>
    <div class="col border "><p>Тип мероприятия</p></div>
    <div class="col border"><td th:utext="${event.location_event}">..</td></div>


</div>
<div class="col-4   ">
    <!--<th3><img width = "32px" src="../../image/dog-tag.svg"  alt="Название"  > <td th:utext="${person.name}">..</td> </th3>-->


    <!--<br class="small">   <td th:utext="${pe.project_description}">..</td></p>-->


    <!--                <p><a class=" small"><img width = "16px" src="../../image/mail.svg"  alt="почта"  >адрес почты</a></p>-->
    <!--<p> <a class="small"><img width = "16px" src="../../image/report.svg"  alt="решение"  >уровень решения: </a><td th:utext="${project.level_solution}">..</td></p>-->
    <!--<p> <a class="small" ><img width = "16px" src="../../image/calendar.svg"  alt="решение"  >дата старта: </a><td th:utext="${project.start_date}">..</td></p>-->
    <!--<p>  <a class="small"> <img width = "16px" src="../../image/pin.svg"  alt="решение"  >сайт: </a><td th:utext="${project.site_project}">..</td></p>-->

    <br>
    <h3><img width = "32px" src="../../image/multiple-users-silhouette.svg"  alt="команда"  > Люди </h3>
    <tr th:each="pr : ${event.getPersons()}">
        <a class="small" th:href="@{/person/{id}(id=${pr.id_person})}"><img width = "16px" src="../../image/businessman.svg"  alt="человек"  >  <td th:utext="${pr.name}  ">..</td> </a>
    </tr>
    <br>
    <h3><img width = "32px" src="../../image/teamwork.svg"  alt="команда"  > Организации </h3>
    <tr th:each="org : ${event.getOrganizations()}">
        <a class="small" th:href="@{/organization/{id}(id=${org.id_organization})}"><img width = "16px" src="../../image/teamwork.svg"  alt="человек"  >  <td th:utext="${org.name_organization}  ">..</td> </a>
    </tr>
    <h3><img width = "32px" src="../../image/education.svg"  alt="команда"  > Проекты </h3>
    <tr th:each="prj : ${event.getProjects()}">
        <a class="small" th:href="@{/project/{id}(id=${prj.id_project})}"><img width = "16px" src="../../image/education.svg"  alt="человек"  >  <td th:utext="${prj.name_project}  ">..</td> </a>
    </tr>

    <!--                <tr th:each="organization : ${organizations}">-->
    <!--                <a class="small" href="#"><img width = "16px" src="../../image/teamwork.svg"  alt="человек"  ><td th:utext="${organization.name_organization}">..</td></a><br>-->
    <!--                </tr>>-->

</div>
</div>
</body>
<script src="../static/js/jquery-3.2.1.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<html>