<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
 <!--Include _menu.html -->
 <th:block th:include="/menu"></th:block>
<h1>Cписок людей</h1>
 <a th:href="@{person/add}" class="btn btn-primary " role="button" aria-pressed="true">Добавить</a>
 <table class="table">
     <thead>
     <tr>
         <th>Фамилия </th>
         <th>Имя</th>
         <th>Отчество</th>
         <th>Номер</th>
         <th>Дата рождения</th>
         <th>Возможности</th>
     </tr>
     </thead>
     <tbody>
     <li th:each="person : ${searchResults}">
         <td th:utext="${person.name}">..</td>
         <td th:utext="${person.surname}">..</td>
         <td th:utext="${person.thirdName}">..</td>
         <td th:utext="${person.phone_number_person}">..</td>
         <td th:utext="${person.date_of_birth}">..</td>
         <td>
             <div class="text-center">
                 <a th:href="@{person/{id}/delete(id=${person.id_person})}"> <img src="../static/image/delete-16.svg" th:src="@{image/delete-16.svg}" alt="Удалить"  ></a>
                 <a th:href="@{person/{id}/edit(id=${person.id_person})}"> <img src="../static/image/update-16.svg"  th:src="@{image/update-16.svg}" alt="Изменить" ></a>
                 <a th:href="@{person/{id}(id=${person.id_person})}"><img src="../static/image/show-16.png" th:src="@{image/show-16.png}" alt="Посмотреть"></a>
             </div>
         </td>
     </li>
     </tbody>
 </table>

</body>
</html>