<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
<th:block th:include="/menu"></th:block>
<h1>Список проектов</h1>
<a th:href="@{project/add}" class="btn btn-primary " role="button" aria-pressed="true">Добавить</a>
<table class="table">
    <thead>
    <tr>
        <th>Название </th>
        <th>Сайт</th>
        <th>Номер телефона</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projectList}">
        <td th:utext="${project.name_project}">..</td>
        <td th:utext="${project.site_project}">..</td>
        <td th:utext="${project.number_Phone_project}">..</td>
        <td>
            <div class="text-center">
                <a th:href="@{project/{id}/delete(id=${project.id_project})}"> <img src="../static/image/delete-16.svg" th:src="@{image/delete-16.svg}" alt="Удалить" ></a>
                <a th:href="@{project/{id}/edit(id=${project.id_project})}"> <img src="../static/image/update-16.svg" th:src="@{image/update-16.svg}" alt="Изменить" ></a>
                <a th:href="@{project/{id}(id=${project.id_project})}"><img src="../static/image/show-16.png" th:src="@{image/show-16.png}" alt="Посмотреть"></a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>